<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../css/lyrics_css/pages.css">
    <title>5:12 AM (lyrics)</title>
  </head>
  <body>
    <h1>Novelists Fr - 5:12 AM</h1>
    <br><br>
    <div>
      I've been hearing you murmur about a thousand times.<br>
      The minutes are running like rabbits and I'm chasing words.<br>
      It's almost midnight,<br>
      You're probably already sleeping,<br>
      The sandman by your side.<br>
      <br>
      So we'll meet in our dreams.<br>
      <br>
      I've been far, for so long.<br>
      I swear, soon I'll be home.<br>
      If my heart is cold wrap it up please, warm me up.<br>
      I see the miles pass one by one on the rear-view mirror;<br>
      Driving, 'til the night's end, foot on the gas,<br>
      Leaving all the rest behind.<br>
      <br>
      It's 5am and I'm miles and miles away from home.<br>
      Frozen.<br>
      Following the sings along the road.<br>
      <br>
      I've been far, for so long.<br>
      I swear soon, I'll be home.<br>
      If my heart is cold wrap it up please, warm me up.<br>
      I see the miles pass one by one in rear-view mirror;<br>
      Driving, 'til the night's end, foot on the gas,<br>
      Leaving all the rest behind.<br>
      <br>
      I miss your presence, I need you by my side.<br>
      I wished a thousand times upon these shooting stars to see you cross that door<br>
      'Cause I feel half alive since you're gone.
    </div>
  </body>
</html>
