<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../css/lyrics_css/pages.css">
    <title>Antares (lyrics)</title>
  </head>
  <body>
    <h1>Novelists Fr - Antares</h1>
    <br><br>
    <div>
      There's more to life than what could ever meet the eyes.<br>
      So don't take a step back,<br>
      The crowd's wild, and I'm ready to feed them.<br>
      They need this, a big mess.<br>
      I'll keep spitting in this mic 'til the feast's end.<br>
      I'm stressed out, but I breathe here.<br>
      Oh, I could die for this.<br>
      <br>
      Can you hear me loud and clear now? (clear now)<br>
      Why can't you sing along?<br>
      Sing your fucking heart out.<br>
      I'm sure you'll make it out alive.<br>
      You'll make it out alive.<br>
      <br>
      This place is all we have, here and now.<br>
      I'd like to live this forever (forever)<br>
      I want to feel the ground once the bottle sounds hollow<br>
      The show is over.<br>
      <br>
      This is all I'll ever have I guess.<br>
      This is all I've got to light my way,<br>
      And those moments are priceless.<br>
      I can't forget the miles, I walked.<br>
      I can't forget a single step.<br>
      Since I left the warmth of a "home".<br>
      <br>
      I'm so tired to see that I have been mislead.<br>
      It was a long road 'round the core.<br>
      When your eyes devour me,<br>
      I think that my only will is to simply look alive..<br>
      'Cause I feel dead when I'm out.<br>
      <br>
      I can't bear my heartbeats in my chest,<br>
      And my mind is such a deep mess<br>
      I can't stand to see<br>
      This fucking disaster the world made of me,<br>
      I'm so sick.<br>
      <br>
      I'm just a man, a son of this pitiful world.<br>
      I can't feel the touch on my skin unless it burns.<br>
      <br>
      Am I alive?<br>
      <br>
      Can you hear me loud and clear now? (clear now)<br>
      Why can't you sing along?<br>
      Sing your fucking heart out.<br>
      I'm sure you'll make it out alive.<br>
      You'll make it out alive.<br>
      <br>
      This place is all we have, here and now.<br>
      I'd like to live this forever (forever)<br>
      I want to feel the ground once the bottle sounds hollow<br>
      The show is over.<br>
      This place is all we've got here and now,<br>
      It's time to let us be<br>
      Can you hear me loud and clear?<br>
      It's time to let us live.
    </div>
  </body>
</html>
