<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../css/lyrics_css/pages.css">
    <title>Earth Grazer (lyrics)</title>
  </head>
  <body>
    <h1>Novelists Fr - Earth Grazer</h1>
    <br><br>
    <div>
      Life ain't a gift.<br>
      You've grown up in the shit like most of us, mate.<br>
      You feel like dreaming awake.<br>
      You're staying distant from the man that you really are.<br>
      It's hard to swallow the pill, right?<br>
      I know.<br>
      You would have loved to deal with, without any problems.<br>
      Hey mate, we can see you through your fucking bubble.<br>
      Why can't you see the people right before your eyes?<br>
      You need a cure, a remedy to fix this all.<br>
      A remedy to your pain.<br>
      You're sleeping awake,<br>
      Dreaming eyes opened.<br>
      You do behave just like all these fucking sheep.<br>
      You hate it.<br>
      <br>
      God ain't a shepherd. You followed the wolves in their den but you're just a lamb,<br>
      Like lost in the woods.<br>
      The world will turn,<br>
      With or without you my friend.<br>
      We're only passengers.<br>
      We live then we die.<br>
      You're only wasting your time.<br>
      <br>
      You better wake the fuck up.<br>
      You're sinking a little bit more in the depths of the mirage.<br>
      Do you wanna run away from this hell?<br>
      You need a cure, a remedy to fix this all.<br>
      A remedy to your pain.<br>
      You're trying to fit in this world where you live but you're feeling like an outsider.<br>
      Just wake up. That's a dream.<br>
      You are dreaming your eyes wide open.<br>
      What's the fuck? Wake up.<br>
      That's a dream.<br>
      You are dreaming your eyes open of your life.<br>
      Wake up mate, that's a dream.<br>
      You are dreaming of your life.<br>
      Wake up<br>
      What's the fuck?<br>
      Wake up mate.<br>
      Wake up mate, that's a dream.<br>
      You are dreaming of your life.<br>
      Wake up<br>
      What's the fuck?<br>
      Wake up mate.
    </div>
  </body>
</html>
