<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../css/lyrics_css/pages.css">
    <title>Echoes (lyrics)</title>
  </head>
  <body>
    <h1>Novelists Fr - Echoes</h1>
    <br><br>
    <div>
      I'm always striving to see clearly<br>
      Through all my troubles<br>
      I need a break<br>
      This can't go on and on<br>
      I'm near from the breaking point<br>
      Get me out of my routine<br>
      <br>
      My life is a mess<br>
      And if it's a little bit late to change it<br>
      Then how could I even change myself?<br>
      ...Yeah how could I change?<br>
      I gotta believe in myself<br>
      Rely on my feelings<br>
      <br>
      Just let me see the dawn<br>
      I'll find a way through the morning<br>
      A life for the night and some hope in this promise<br>
      <br>
      My demons entertain me<br>
      When I'm haunted by all your murmurs<br>
      My mind tends to break (by itself)<br>
      I revel in illegible images<br>
      <br>
      Oh, God is laughing like a fucking brat who plays over an anthill<br>
      Yeah, I do pray, I pray to stay outta reach (far from his eyes)<br>
      I sway with that bottle of brandy in hand<br>
      I'm alleviating my soul when I drift through the void<br>
      <br>
      I have to say that all this is all making me deeply sick<br>
      It echoes in my head<br>
      To save things never been part of my plans so I should just play dead<br>
      But that's not my type<br>
      <br>
      Even sell my soul won't make a difference<br>
      That's never ending (never ending)<br>
      I'll sing as long as I don't know where I'm going to end<br>
      <br>
      Just met me see the dawn<br>
      I'll find a way through the morning<br>
      A life for the nights, a shelter in the glitter of all these lights<br>
      If you let me... see the dawn<br>
      I'll find a way through the morning<br>
      A life for the night and a meaning at all this<br>
      <br>
      I'll find a meaning at all this
    </div>
  </body>
</html>
