<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../css/lyrics_css/pages.css">
    <title>The Lichtenberg Figure (lyrics)</title>
  </head>
  <body>
    <h1>Novelists Fr - The Lichtenberg Figure</h1>
    <br><br>
    <div>
      I'm not the greatest writer<br>
      Oh, I'm not the greatest, no<br>
      I'm not perfect, not even novelist<br>
      This time you better listen up<br>
      <br>
      Oh, life have barely changed<br>
      Twenty-two, still pissed<br>
      Plenty of shits in the backpack<br>
      And Nikes on my feet<br>
      <br>
      Many pieces are missing since I came back home<br>
      I can't deal with my own life<br>
      I'm incomplete<br>
      Another empty wreck, shit<br>
      <br>
      I'm just the shell of a man which is absent<br>
      I'm wearing his skin but I'm partially vacant<br>
      What I have is far from being gold<br>
      But I write open-hearted, my balls in the inkwell<br>
      Fuck it, I'm done with swallowing bullshit<br>
      Since hitting it off has become an addiction<br>
      I needed more than these words going nowhere<br>
      To show you that my life is not such a poem<br>
      <br>
      Some black clouds will get so much bigger<br>
      No matter how lucky I am<br>
      I've never learned how to live with the thunder<br>
      My heart is a lightning rod<br>
      And I'm walking under a thunderstorm<br>
      Mesmerized by the lights<br>
      With my eyes half shut<br>
      <br>
      I do live through these lines<br>
      Writing this song just to say what I got to<br>
      I need much more than these words<br>
      Just to show you that it's a struggle<br>
      To be able to believe in this life<br>
      <br>
      I write with my heart open<br>
      Even if it can be so callous<br>
      Just listen, this heartbeat have so much to say<br>
      I just can't keep it in<br>
      I just won't keep it in<br>
      <br>
      I'm not the greatest writer<br>
      And this isn't the greatest song<br>
      I'm not perfect, not even novelist<br>
      I'm not saint, I'm not a fucking prophet<br>
      Fuck this, I'm just drifting<br>
      I keep moving pushed by the movement<br>
      I'm still trying to pull the strings of my fucking life<br>
      <br>
      Oh, you can keep the pain<br>
      The fame, the money and the whores<br>
      Cause I'm a body-shaped shell in a sorry state<br>
      <br>
      My friends, you better listen<br>
      This man you see now isn't totally different<br>
      Along the road he thought he found himself<br>
      A fucking sense<br>
      At these goddamn feeling<br>
      <br>
      I'm just the shell of a man which is absent<br>
      I'm wearing his skin but I'm partially vacant<br>
      What I have is far from being gold<br>
      But I write open-hearted, my balls in the inkwell<br>
      Fuck it, I'm done with swallowing bullshit<br>
      Since hitting it off has become an addiction<br>
      I needed more than these words going nowhere<br>
      To show you that my life is not such a poem<br>
      <br>
      I'm just the shell of a man which is absent<br>
      I wear his skin but I'm partially vacant<br>
      My heart is a lightning rod<br>
      And I'm walking under a thunderstorm<br>
      Mesmerized by the light
    </div>
  </body>
</html>
