<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../css/lyrics_css/pages.css">
    <title>Lost Cause (lyrics)</title>
  </head>
  <body>
    <h1>Novelists - Lost Cause</h1>
    <div>
      Was it all just a dream or<br>
      Was it just the price to pay?<br>
      Now I'm left here to pray in silence<br>
      And You got what you wanted<br>
      <br>
      I search for meaning<br>
      When all I used to do was dreaming<br>
      Disconsolate, mourning a loss<br>
      Lonesome at best<br>
      Run away<br>
      But I can never escape<br>
      From the pain in my brain<br>
      This fucking misery<br>
      <br>
      I need a reason for who we are<br>
      I need to breath, throughout the war<br>
      I lost faith in myself again<br>
      <br>
      I lost faith in myself again<br>
      <br>
      Just breath in<br>
      Just breath in<br>
      And bury me<br>
      And bury me<br>
      Just pretend<br>
      Just pretend<br>
      And run away<br>
      And run away<br>
      <br>
      I'm slowly shutting down and<br>
      I can't deny, that all I do is losing control<br>
      You know I can't keep going on, this shit is taking its toll<br>
      But I can never escape<br>
      But I can never escape<br>
      <br>
      But I can never escape<br>
      <br>
      System failure<br>
      <br>
      I need a reason for who we are<br>
      I need to breath, throughout the war<br>
      I lost faith in myself again<br>
      <br>
      I lost faith in myself again...
    </div>
  </body>
</html>
