<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../css/lyrics_css/pages.css">
    <title>Muchos Touché (lyrics)</title>
  </head>
  <body>
    <h1>Novelists Fr - Muchos Touché</h1>
    <br><br>
    <div>
      You wanna play the man, kid?<br>
      Aren't you afraid to play with the fire?<br>
      So let's play this game.<br>
      Gimme your best shot or you will get shot.<br>
      <br>
      We've been like bros you and I…<br>
      Oh, I know, I've been too nice.<br>
      All this time you lied like you breathe.<br>
      Fuck.<br>
      You lie like you breathe.<br>
      <br>
      There is a place for you in one of these body bags.<br>
      You better watch your back.<br>
      I'll slit your throat with the dagger that you left in my back.<br>
      You bastard,<br>
      I curse your life.<br>
      I curse your life.<br>
      <br>
      I'll put you inside the trunk of an old Cadillac.<br>
      You'll be found dead in a bag,<br>
      Next to a foxhole.<br>
      You'll be the star of the newspapers main lines.<br>
      I swear to change your life in a fucking hell.
    </div>
  </body>
</html>
