<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../css/lyrics_css/pages.css">
    <title>Ouroboros (lyrics)</title>
  </head>
  <body>
    <h1>Novelists Fr - Ouroboros</h1>
    <br><br>
    <div>
      It's getting harder to breathe,<br>
      Harder to feel free.<br>
      It's getting tougher to write,<br>
      Tougher to feel things.<br>
      It's getting harder to live,<br>
      Harder to pay bills,<br>
      Hard to feel alive.<br>
      <br>
      It's getting harder to breathe,<br>
      Harder to feel free.<br>
      It's getting tougher to write,<br>
      Tougher to feel things,<br>
      I need help.<br>
      I feel sick of taking these pills.<br>
      Life must be sweet once we're fucking dead..<br>
      Yeah, once we're dead.<br>
      <br>
      Sometimes I drown in the sound like trying to find the silence.<br>
      Lost in the noise of this world,<br>
      Show me the way through the darkness.<br>
      I gotta pay.. pay for a daydream.<br>
      Look at my soul,<br>
      Trapped with the bailiffs.<br>
      I might die, starving to death,<br>
      Biting my own tail again and again.<br>
      I can't hear myself think,<br>
      This fucking room must be talking 'cause I can hear it.<br>
      I see me kissing death between these walls.<br>
      Life must be sweet on the other side.<br>
      <br>
      I don't wanna pay for a fucking life that I don't want,<br>
      Because the rats get fat while the brave men die.<br>
      That ain't a lie.<br>
      It's sad to say but that's how the world fucking runs.<br>
      No, this is not for the money,<br>
      Put your doubts aside.<br>
      Music is not about filling a fucking bank account.<br>
      That's what they want,<br>
      Not what we fucking wanted.<br>
      It makes me sick,<br>
      Sick of seeing motherfuckers ruling the world whereas it burns.<br>
      Sick of living in a world that I don't understand.<br>
      Amongst the wolves,<br>
      Sometimes I drown in the sound like trying to find the silence.<br>
      Lost in the noise of this world,<br>
      Show me the way through the darkness.<br>
      <br>
      If I'm a basket case,<br>
      This casket will welcome me with open arms like an old friend of mine.<br>
      Just like an old friend of mine.<br>
      <br>
      Oh, I need a room to breathe.<br>
      No, I can't go on like this.<br>
      <br>
      It's getting harder to breathe,<br>
      Harder to feel free.<br>
      It's getting tougher to write,<br>
      Tougher to feel things,<br>
      I need help.<br>
      I feel sick of taking these pills.<br>
      This life must be sweet once we're dead.<br>
      Fuck.<br>
      <br>
      Hell is full, don't you see?<br>
      Hell is full and we're dragged into the depths.<br>
      Oh shit… Heaven doesn't exist.<br>
      We dance between the devil's hands.
    </div>
  </body>
</html>
