<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../css/lyrics_css/pages.css">
    <title>Souvenirs (lyrics)</title>
  </head>
  <body>
    <h1>Novelists Fr - Souvenirs</h1>
    <br><br>
    <div>
      Let's go.<br>
      <br>
      I know I can't define this life<br>
      I know you can't see through these answers I'm seeking for are way too deep to be found<br>
      <br>
      My life's reflected through the wet film of my eyes (my eyes)<br>
      I've been betraying the kid that I was.<br>
      Do you think this life really deserves an anthem ?<br>
      I’ve been changing<br>
      <br>
      It reminds me when I was younger and useless.<br>
      My heart beats, covered in bruises.<br>
      I saw this room slowly turn to a coffin.<br>
      As locked in, but I'm not dead yet.<br>
      I did my best to show you that I've been changing,<br>
      and what I've been through to see clearly through myself.<br>
      through myself.<br>
      <br>
      I was such a mess before this<br>
      I don't miss it, no, I don't miss it.<br>
      My heart has braced itself.<br>
      I'll set this world in check,<br>
      I finally found myself.<br>
      <br>
      I've got my dreams and all my memories in my head.<br>
      I don't wanna be the one who can live without this.<br>
      All that I can see is the distance since these days.<br>
      I wouldn't recognize myself without the mess of what I've done with my life<br>
      <br>
      I will never let you define my way of.life.<br>
      I thought we've been watching the same sun but we're way too far to finally feel warmed.<br>
      <br>
      this is my time to speak<br>
      this is the time to forgive.<br>
      I've been betraying the kid that I was.<br>
      Do you think this life really deserves an anthem ?<br>
      <br>
      I didn't think the show would last so long<br>
      Though it should last forever now.<br>
      I was seeking for this,<br>
      having a chance to speak to try to feel better.<br>
      I see your face when your eyes are staring back at me.<br>
      I can fake it, it's not as hard as it seems with the detachment the drug brings<br>
      <br>
      I've got these dreams to stand for,<br>
      got my voice to speak<br>
      despite the lies around me now<br>
      but this bitter taste that they're leaving won't let me feel anything. (delay feel anything)<br>
      <br>
      It reminds me when I was younger and useless.<br>
      My heart beats, covered in bruises.<br>
      I saw this room slowly turn to a coffin.<br>
      As locked in, but I'm not dead yet.<br>
      I did my best to show you that I've been changing.<br>
      and what I've been through<br>
      to see clearly through myself.<br>
      through myself.<br>
      <br>
      I was such a mess before this<br>
      I don't miss it, no, I don't miss it.<br>
      My heart has braced itself.<br>
      I'll set this world in check,<br>
      I finally found myself.<br>
      <br>
      I've got my dreams and all my memories in my head.<br>
      I don't wanna be the one who can live without this.<br>
      All that I can see is the distance since these days.<br>
      I wouldn't recognize myself without the mess of what I've done with my life
    </div>
  </body>
</html>
