<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../css/lyrics_css/pages.css">
    <title>Voyager (lyrics)</title>
  </head>
  <body>
    <h1>Novelists Fr - Voyager</h1>
    <br><br>
    <div>
      I left behind me the comfort of a normal life<br>
      Traded it all for my sake<br>
      I never questioned my choice, or even felt that I should<br>
      It's always crystal-clear<br>
      <br>
      I spent more time in this room to write all this<br>
      Than with my family and all my friends<br>
      I traded my everything<br>
      To feel free to walk my own path<br>
      <br>
      I won't be the one who forget his dreams<br>
      I'll make sure to remember them<br>
      I'll take a glance at the Earth<br>
      When I'll be on the roofs of the world<br>
      <br>
      The dream will be mine<br>
      For now I wanna be the one who lead his life<br>
      I might have took the longest way to leave my dream<br>
      But every miles will bring me closer to it<br>
      <br>
      I'll build it all of my bare hands<br>
      Will follow the sun on its journey<br>
      I wanna tame this heart which is mine<br>
      Feel that I'm leading my life<br>
      <br>
      I hold the key in my hands<br>
      <br>
      I left behind me the comfort of a normal life<br>
      Traded it all for my sake (I never felt a regret)<br>
      I never questioned my choice, or even felt that I should<br>
      It's always crystal-clear<br>
      <br>
      These lines that I write are the mirror of my soul<br>
      Like a letter to this kid who played alone<br>
      <br>
      Now... this kid do feel like a man<br>
      He bear the weight of his dreams<br>
      Stands just before your eyes<br>
      He found a meaning at his life<br>
      <br>
      He wanna know...<br>
      He wanna know what this life can bring him<br>
      He wanna know where this road will lead<br>
      So take him away and show him places he'd never seen<br>
      <br>
      I remember the promise that I have made to myself<br>
      The kid I was has grown up, but all his dreams stayed the same<br>
      The souvenirs of his words linger inside of my head<br>
      It's like crystal-clear<br>
      <br>
      This is us versus the fate<br>
      <br>
      I wanna know...<br>
      I wanna know what this damn life can be<br>
      I wanna see where the road will lead<br>
      So take me away and show me these places I've never seen<br>
      <br>
      I left behind me the comfort of a normal life<br>
      Traded it all for my sake<br>
      I
    </div>
  </body>
</html>
