<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../../css/lyrics_css/pages.css">
  <title>Amaranthine (lyrics)</title>
</head>
<body>
  <h1>Sal3m - Amaranthine</h1>
  <br><br>
  <div>
    Tell me why everything I write is about you ?<br>
    What will it steal from me this time ?<br>
    <br>
    This hand has been broken twice, <br>
    Legs coated in lines,<br>
    I guess my body won't ever forget you.<br>
    <br>
    There's just no fucking hope in sight<br>
    So I down another bottle. <br>
    I'll make it through the night<br>
    But not my heart. <br>
    And I knew that it would only hurt from the get go,<br>
    I feel too much, I overlove<br>
    and I truelly suck at finding reasons to let go. <br>
    I guess this time i'll overdose.<br>
    <br>
    love you to death but I'm sick of it,<br>
    just want you out, want you out of my system, <br>
    wish you could taste your own medecine. <br>
    nicotine, novocaine keeps me running,<br>
    I wanna drink and forget the taste,<br>
    Just wanna drive till i crash in the sunset,<br>
    so if you care, just a little bit.. <br>
    Then let me kill all we are when i'm leaving <br>
    <br>
    Now tell me why all our wishes never came true ?<br>
    Was it all promised to fade out with the lights in our eyes? <br>
    <br>
    If time can't be taken twice<br>
    And bones are soaking in wine, <br>
    I guess that none of our vices are really brand new. <br>
    <br>
    Now the memories shoot at sight<br>
    And i'm downing every bottles<br>
    i'll make it through the night<br>
    but not my heart. <br>
    <br>
    love you to death but i'm sick of it,<br>
    just want you out, want you out of my system.<br>
    wish you could taste your own medecine,<br>
    nicotine, novocaine keeps me running,<br>
    I wanna drink and forget the taste,<br>
    just wanna drive till i crash in the sunset,<br>
    so if you care, just a little bit  <br>
    just let me kill all we are when i'm leaving
  </div>
</body>
</html>
