<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../../css/lyrics_css/pages.css">
    <title>Blood Stains (lyrics)</title>
  </head>
  <body>
    <h1>Sal3m - Blood Stains</h1>
    <br><br>
    <div>
      I could bet that bliss never sounds like...<br>
      <br>
      Light me up, put me out, like a cigarette<br>
      Can feel you're craving for more just like an addict<br>
      You flee the night, flee the night, spend it on a key<br>
      Telling yourself I'm the worst of all your habits<br>
      <br>
      The silence is turning the months into years (I dwell)<br>
      And you're defying the days all alone (alone)<br>
      Been fucking dying for something else (again)<br>
      Wishing to wipe off the pain just like a nosebleed<br>
      <br>
      'Cause when the clouds all steal over us<br>
      Wе can't seem to keep the rain at bay<br>
      If the same old dеlusions are driving our hearse<br>
      Are we both gonna look for rainbows or just try to forget there might be none?<br>
      <br>
      I'm burning up, burning up, like a cigarette<br>
      But I keep begging for more like any sadist<br>
      I flee the night, flee the night, spend it on a blade<br>
      While all the demons around go fucking rabid<br>
      <br>
      The silence is turning the months into years (I dwell)<br>
      And I'm recounting the cuts alone (alone)<br>
      I'm only dying to feel this end (again)<br>
      Wish I could lose my love in the thousand<br>
      <br>
      Blood stains<br>
      We're letting spread<br>
      And dig the veins, but I'm afraid the pain doesn't get numb me enough<br>
      To ever let me fade with a feeling<br>
      That makes me whole but leaves me half<br>
      <br>
      'Cause when the clouds all steal over us<br>
      We can't seem to keep the rain at bay<br>
      If the same old delusions are driving our hearse<br>
      Are we both gonna look for rainbows or just try to forget there might be none?
    </div>
  </body>
</html>
