<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../../css/lyrics_css/pages.css">
  <title>Fucking Easy (lyrics)</title>
</head>
<body>
  <h1>Sal3m - Fucking Easy</h1>
  <br><br>
  <div>
    Hiding from your eyes,<br>
    All the voices in my mind never stop<br>
    Singing me that life is a bitter promise<br>
    <br>
    Would you turn the lead to gold<br>
    And lose me in its glow if tonight <br>
    I'm losing control again ?<br>
    Because I doubt I'm worth saving.<br>
    <br>
    I'm only looking for another kind of high,<br>
    The drugs can't take me higher.<br>
    Seems like my demons are all waiting in line<br>
    And love don't get em numbed, no<br>
    Just want another fucking way to waste time,<br>
    To drown all of my problems.<br>
    I'm only looking for a way out now<br>
    I'm only looking for a way out.<br>
    <br>
    Like waiting for a spark,<br>
    This overdriving heart never stops,<br>
    Telling me that i would be better off dead.<br>
    <br>
    Oh would you turn the lead to gold<br>
    If everything I touch, I corrode ? <br>
    Will we only count the bones <br>
    Of the dreams that I burry ?<br>
    ( There's nothing to save here )<br>
    <br>
    I'm only looking for another kind of high,<br>
    The drugs can't take me higher.<br>
    Seems like my demons are all waiting in line<br>
    And love don't get em numbed, no<br>
    Just want another fucking way to waste time,<br>
    To drown all of my problems.<br>
    I'm only for looking for a way out now<br>
    I'm only looking for a way out.<br>
    <br>
    How many days, fucking begging for another crumb of serotonin ?<br>
    My inner world got me feeling heavy, <br>
    I'm losing faith in any kind of modern magic. <br>
    After the grey...<br>
    ...Hell should be fucking easy.<br>
    <br>
    This insatiable mind is running on empty<br>
    How many steps 'fore it shoves me from the edge ?<br>
    It's getting hard to get a break, <br>
    Just wanna feel.. <br>
    Just wanna feel okay<br>
    <br>
    Cause if oblivion's like a bullet, <br>
    I'm an empty gun<br>
    And every minut is a journey to the next one,<br>
    These fucking moment turn to bridges<br>
    They bring me back into this place where everything is fading in silence. <br>
    <br>
    Don't wanna spend another day feeling under the weather, <br>
    Here in between the void and everything it's taking. <br>
    God knows how often I've tried to bleed, bleed, bleed the feeling<br>
    <br>
    I'm only looking for another kind of high,<br>
    The drugs can't take me higher.<br>
    Seems like my demons are all waiting in line<br>
    And love don't get em numbed, no<br>
    Just want another fucking way to waste time,<br>
    To drown all of my problems.<br>
    I'm only for looking for a way out now<br>
    I'm only looking for a way out.
  </div>
</body>
</html>
