<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../../css/lyrics_css/pages.css">
  <title>Limbo (lyrics)</title>
</head>
<body>
  <h1>Sal3m - Limbo</h1>
  <br><br>
  <div>
    Just don't wanna look at your eyes, <br>
    'Cause I know you could turn me into stone now.<br>
    I'm surrending to your touch,<br>
    But I don't really wanna feel you, No.<br>
    <br>
    Don't wanna let you run your damn mouth,<br>
    'Cause you always know the right words to keep me down.<br>
    I can surrender to your touch,<br>
    But I don't really wanna feel you anymore<br>
    <br>
    'Cause I fucking know what you're hiding,<br>
    A sweet inferno, <br>
    Like dragging me in,<br>
    All across your limbos. <br>
    It's a hell I can't escape, no<br>
    It's a war you're starting within my soul. <br>
    <br>
    I'm sick of the sound of your voice,<br>
    I wish I can drink enough gin,<br>
    Just to make sure I don’t feel the touch of your burning hands, <br>
    Running on my skin<br>
    <br>
    Because I know the way that you're movin’,<br>
    All the things you do to me,<br>
    I just wanna bomb the tunnels, <br>
    Wanna see you and these bridges burning.<br>
    <br>
    Can't pretend I've never felt your love but<br>
    Can't just say it is tough love<br>
    Can't just say it is tough love<br>
    When you act like a dumb slut.<br>
    Everything is just fucked up.<br>
    <br>
    I don't wanna look at your eyes<br>
    When you're starting to suck me,<br>
    All I'm feeling is mucked up dear,<br>
    All you're doing is breaking me.<br>
    <br>
    Just don't wanna look at your eyes,<br>
    Cause I know you could turn me into stone,<br>
    I Can surrender to your touch,<br>
    But I don't really wanna feel you.<br>
    <br>
    'Cause I fucking know what you're hiding,<br>
    A sweet inferno, <br>
    Like dragging me in,<br>
    All across your limbos. <br>
    It's a hell I can't escape, no<br>
    It's a war you're starting within my soul. <br>
    <br>
    A sweet inferno<br>
    Like dragging me in,<br>
    All across your limbos.<br>
    It's a fire I can't escape no,<br>
    It's a war you're winning, <br>
    But not my heart.
  </div>
</body>
</html>
