<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../../css/lyrics_css/pages.css">
  <title>Love is a Wonderful Lie (lyrics)</title>
</head>
<body>
  <h1>Sal3m - Love is a Wonderful Lie</h1>
  <br><br>
  <div>
    I'll never be tired of the road to cartside street, <br>
    Of the fog and the rain that merge with the lights in the morning.<br>
    Will never be fed up of few thousand miles, <br>
    but the smell in the air it.. <br>
    ..It gets me everytime<br>
    When I have to cross the sea,<br>
    Knowing I should never leave,<br>
    Leaving a little more of me stay with you.<br>
    <br>
    I thought I'd ruin my life but<br>
    You made me forget the times I was riding alone.<br>
    Drowned in all your designs,<br>
    I think I've found a reason to live for.<br>
    <br>
    Spent all my life in the old sebastian street,  <br>
    But how could I even call this "home" if you're not here ?<br>
    Been counting the days untill the lack subside,<br>
    'Till the chant of my heartbeat gets troubled one more time.<br>
    <br>
    I thought I'd ruin my life but<br>
    You made me forget the times I was riding alone.<br>
    Drowned in all your designs,<br>
    I think I've found a reason to live for. <br>
    <br>
    You keep pulling on the strings,<br>
    and I can't put my mind to rest<br>
    If you're always in my dream.<br>
    You keep defying gravity,<br>
    Show me how high you can get, <br>
    Forget about the landing.<br>
    <br>
    I'll carry you on my wings,<br>
    We'll be all we need.
  </div>
</body>
</html>
