<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../../css/lyrics_css/pages.css">
  <title>Walk on Water (lyrics)</title>
</head>
<body>
  <h1>Sal3m - Walk on Water</h1>
  <br><br>
  <div>
    "I'll forget" isn't part of all the pretty fantasies of my lexical, but I guess the daily life kept me busy for a little while, a little bit too long.<br>
    Don't ever dare to tell me we could walk on water when the soul's heavy and grey, just like any of the stones.<br>
    Can't you feel me gently roll down on the bed of the river ?<br>
    Lost under the bridges,<br>
    Only going with the flow.<br>
    Tell me what should I fear if living is enough ?<br>
    Who will bring me back to reason when this world seems lost ?<br>
    Oh What should I hope for ?<br>
    Words...Ghosts of what have been.<br>
    (can't you read on my hands)<br>
    Faith...Smothered under the skin.<br>
    Lies of love...Flirting with the shame<br>
    Or Flesh and bones going down the drain ?<br>
    "I'll Forget" isn't part of all the pretty fantasies of my lexical, but I guess this weary mind kept me busy for a little while, a little bit too long.<br>
    Don't ever dare to tell me I could walk on water when my soul's heavy and grey just like any of the stones.<br>
    Can't you see me gently roll down on the bed of the river ?<br>
    Lost under the bridges, <br>
    Only going with the flow.<br>
    Tell me what should I fear if living is enough ?<br>
    Who will bring me back to reason<br>
    When this world seems lost,<br>
    Oh What should I hope for ?
  </div>
</body>
</html>
