html {
  text-align: center;
}

body {
  background-color: steelblue;
}

div {
  width: 80%;
  background-color: #E4E4E4;
  margin-left: auto;
  margin-right: auto;
  padding: 5% 0px;
  border:solid black 3px;
}

h1{
  background-color: #E4E4E4;
  border:solid black 3px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding: 2.5%
}
