<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/lyrics_css/main.css">
    <title>Index of lyrics</title>
  </head>
  <body>

    <div class="navbar">
      <a href="#Sal3m">Sal3m</a><br>
      <div class="dropdown">
        <button class="dropbtn">Novelists Fr
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#Novelists_souvenirs">Souvenirs</a>
          <a href="#Novelists_noir">Noir</a>
          <a href="#Novelists_cest_la_vie">C'est la Vie</a>
          <a href="#Novelists_deja_vu">Déjà vu : Première Partie</a>
          <a href="#Novelists_autres">Autres</a>
        </div>
      </div>
    </div>

    <div>
      <h1 id="Sal3m">Sal3m</h1>
      <p><a href="#">Limbo</a></p>
      <p><a href="#">Divise</a></p>
      <p><a href="#">Walk on Water</a></p>
      <p><a href="#">Love is a Wonderful Lie</a></p>
      <p><a href="#">Fucking Easy</a></p>
      <p><a href="#">Amaranthine</a></p>
      <p><a href="lyrics/blood_stains.html" target="_blank">Blood Stains</a></p>
      <p><a href="#">L.L.I.B. (feat Amaël Durand)</a></p>
    </div>
    <div>
      <h1 id="Novelists">Novelists Fr</h1>

      <h3 id="Novelists_souvenirs">Souvenirs</h3>
      <p><a href="#">Inanimate</a></p>
      <p><a href="#">Earth Grazer</a></p>
      <p><a href="#">Gravity</a></p>
      <p><a href="#">Antares</a></p>
      <p><a href="#">Ouroboros</a></p>
      <p><a href="#">Black Lights</a></p>
      <p><a href="#">Voyager</a></p>
      <p><a href="#">Muchos Touché</a></p>
      <p><a href="#">Echoes</a></p>
      <p><a href="#">5:12 AM</a></p>
      <p><a href="#">The Lichtenberg Figure</a></p>
      <p><a href="#">Souvenirs</a></p>
      <p><a href="#">Twenty Years</a></p>
      <p><a href="#">Heartfelt</a></p>
      <br>
      <h3 id="Novelists_noir">Noir</h3>
      <p><a href="#">L'appel du Vide</a></p>
      <p><a href="#">Monochrome</a></p>
      <p><a href="#">Under Different Welkins</a></p>
      <p><a href="#">Les Nuits Noires</a></p>
      <p><a href="#">Grey Souls</a></p>
      <p><a href="#">A Bitter End</a></p>
      <p><a href="#">Stranger Self</a></p>
      <p><a href="#">The Light, The Fire</a></p>
      <p><a href="#">Joie de Vivre</a></p>
      <p><a href="#">Lead the Light</a></p>
      <p><a href="#">À Travers le Miroir</a></p>
      <p><a href="#">Heal the Wound</a></p>
      <br>
      <h3 id="Novelists_cest_la_vie">C'est la vie</h3>
      <p><a href="#">Somebody Else</a></p>
      <p><a href="#">Deep Blue</a></p>
      <p><a href="#">Lilly</a></p>
      <p><a href="#">Modern Slave</a></p>
      <p><a href="#">C'est la Vie</a></p>
      <p><a href="#">Head Rush</a></p>
      <p><a href="#">Kings of Ignorance</a></p>
      <p><a href="#">Rain</a></p>
      <p><a href="#">Human Condition</a></p>
      <br>
      <h3 id="Novelists_deja_vu">Déjà Vu: Première Partie</h3>
      <p><a href="lyrics/lost_cause.html" target="_blank">Lost Cause</a></p>
      <br>
      <h3 id="Novelists_autres">Autres</h3>
      <p><a href="#">After the Rain</a></p>
      <p><a href="#">Delusion</a></p>
      <p><a href="#">Eyes Wide Shut</a></p>
      <p><a href="#">Immedicable</a></p>
    </div>
  </body>
</html>
