<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/lyrics_css/main.css">
    <title>Index of lyrics</title>
  </head>
  <body>

    <div class="navbar">
      <a href="#Sal3m">Sal3m</a><br>
      <div class="dropdown">
        <button class="dropbtn">Novelists Fr
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#Novelists_souvenirs">Souvenirs</a>
          <a href="#Novelists_noir">Noir</a>
          <a href="#Novelists_cest_la_vie">C'est la Vie</a>
          <a href="#Novelists_deja_vu">Déjà vu : Première Partie</a>
          <a href="#Novelists_autres">Autres</a>
        </div>
      </div>
    </div>

    <div>
      <h1 id="Sal3m">Sal3m</h1>
      <p><a href="#" target="_blank">Limbo</a></p>
      <p><a href="#" target="_blank">Divise</a></p>
      <p><a href="#" target="_blank">Walk on Water</a></p>
      <p><a href="#" target="_blank">Love is a Wonderful Lie</a></p>
      <p><a href="#" target="_blank">Fucking Easy</a></p>
      <p><a href="#" target="_blank">Amaranthine</a></p>
      <p><a href="lyrics/blood_stains.html" target="_blank">Blood Stains</a></p>
      <p><a href="#" target="_blank">L.L.I.B. (feat Amaël Durand)</a></p>
    </div>
    <div>
      <h1 id="Novelists">Novelists Fr</h1>

      <h3 id="Novelists_souvenirs">Souvenirs</h3>
      <p><a href="lyrics/inanimate.html">Inanimate</a></p>
      <p><a href="lyrics/earth_grazer.html" target="_blank">Earth Grazer</a></p>
      <p><a href="lyrics/gravity.html" target="_blank">Gravity</a></p>
      <p><a href="lyrics/antares.html" target="_blank">Antares</a></p>
      <p><a href="lyrics/ouroboros.html" target="_blank">Ouroboros</a></p>
      <p><a href="lyrics/black_light.html" target="_blank">Black Lights</a></p>
      <p><a href="lyrics/voyager.html" target="_blank">Voyager</a></p>
      <p><a href="lyrics/muchos_touche.html" target="_blank">Muchos Touché</a></p>
      <p><a href="#" target="_blank">Echoes</a></p>
      <p><a href="#" target="_blank">5:12 AM</a></p>
      <p><a href="#" target="_blank">The Lichtenberg Figure</a></p>
      <p><a href="#" target="_blank">Souvenirs</a></p>
      <p><a href="#" target="_blank">Twenty Years</a></p>
      <p><a href="#" target="_blank">Heartfelt</a></p>
      <br>
      <h3 id="Novelists_noir">Noir</h3>
      <p><a href="#" target="_blank">L'appel du Vide</a></p>
      <p><a href="#" target="_blank">Monochrome</a></p>
      <p><a href="#" target="_blank">Under Different Welkins</a></p>
      <p><a href="#" target="_blank">Les Nuits Noires</a></p>
      <p><a href="#" target="_blank">Grey Souls</a></p>
      <p><a href="#" target="_blank">A Bitter End</a></p>
      <p><a href="#" target="_blank">Stranger Self</a></p>
      <p><a href="#" target="_blank">The Light, The Fire</a></p>
      <p><a href="#" target="_blank">Joie de Vivre</a></p>
      <p><a href="#" target="_blank">Lead the Light</a></p>
      <p><a href="#" target="_blank">À Travers le Miroir</a></p>
      <p><a href="#" target="_blank">Heal the Wound</a></p>
      <br>
      <h3 id="Novelists_cest_la_vie">C'est la vie</h3>
      <p><a href="#" target="_blank">Somebody Else</a></p>
      <p><a href="#" target="_blank">Deep Blue</a></p>
      <p><a href="#" target="_blank">Lilly</a></p>
      <p><a href="#" target="_blank">Modern Slave</a></p>
      <p><a href="#" target="_blank">C'est la Vie</a></p>
      <p><a href="#" target="_blank">Head Rush</a></p>
      <p><a href="#" target="_blank">Kings of Ignorance</a></p>
      <p><a href="#" target="_blank">Rain</a></p>
      <p><a href="#" target="_blank">Human Condition</a></p>
      <br>
      <h3 id="Novelists_deja_vu">Déjà Vu: Première Partie</h3>
      <p><a href="lyrics/lost_cause.html" target="_blank">Lost Cause</a></p>
      <br>
      <h3 id="Novelists_autres">Autres</h3>
      <p><a href="#" target="_blank">After the Rain</a></p>
      <p><a href="#" target="_blank">Delusion</a></p>
      <p><a href="#" target="_blank">Eyes Wide Shut</a></p>
      <p><a href="#" target="_blank">Immedicable</a></p>
    </div>
  </body>
</html>
