<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../css/lyrics_css/main.css">
  <title>Index of lyrics</title>
</head>
<body>

  <div class="navbar">
    <a href="#Sal3m">Sal3m</a><br>
    <div class="dropdown">
      <button class="dropbtn">Novelists Fr
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#Novelists_souvenirs">Souvenirs</a>
        <a href="#Novelists_noir">Noir</a>
        <a href="#Novelists_cest_la_vie">C'est la Vie</a>
        <a href="#Novelists_deja_vu">Déjà vu : Première Partie</a>
        <a href="#Novelists_autres">Autres</a>
      </div>
    </div>
  </div>

  <div>
    <h1 id="Sal3m">Sal3m</h1>
    <p><a href="lyrics/sal3m/limbo.html" target="_blank">Limbo</a></p>
    <p><a href="lyrics/sal3m/divise.html" target="_blank">Divise</a></p>
    <p><a href="lyrics/sal3m/walk_on_water.html" target="_blank">Walk on Water</a></p>
    <p><a href="lyrics/sal3m/love_is_a_wonderful_lie.html" target="_blank">Love is a Wonderful Lie</a></p>
    <p><a href="lyrics/sal3m/fucking_easy.html" target="_blank">Fucking Easy</a></p>
    <p><a href="lyrics/sal3m/amaranthine.html" target="_blank">Amaranthine</a></p>
    <p><a href="lyrics/sal3m/blood_stains.html" target="_blank">Blood Stains</a></p>
    <p><a href="lyrics/sal3m/llib.html" target="_blank">L.L.I.B. (feat Amaël Durand)</a></p>
  </div>
  <div>
    <h1 id="Novelists">Novelists Fr</h1>

    <h3 id="Novelists_souvenirs">Souvenirs</h3>
    <p><a href="lyrics/novelists/inanimate.html" target="_blank">Inanimate</a></p>
    <p><a href="lyrics/novelists/earth_grazer.html" target="_blank">Earth Grazer</a></p>
    <p><a href="lyrics/novelists/gravity.html" target="_blank">Gravity</a></p>
    <p><a href="lyrics/novelists/antares.html" target="_blank">Antares</a></p>
    <p><a href="lyrics/novelists/ouroboros.html" target="_blank">Ouroboros</a></p>
    <p><a href="lyrics/novelists/black_light.html" target="_blank">Black Lights</a></p>
    <p><a href="lyrics/novelists/voyager.html" target="_blank">Voyager</a></p>
    <p><a href="lyrics/novelists/muchos_touche.html" target="_blank">Muchos Touché</a></p>
    <p><a href="lyrics/novelists/echoes.html" target="_blank">Echoes</a></p>
    <p><a href="lyrics/novelists/5_12_am.html" target="_blank">5:12 AM</a></p>
    <p><a href="lyrics/novelists/lichtenberg.html" target="_blank">The Lichtenberg Figure</a></p>
    <p><a href="lyrics/novelists/souvenirs.html" target="_blank">Souvenirs</a></p>
    <p><a href="lyrics/novelists/twenty_years.html" target="_blank">Twenty Years</a></p>
    <p><a href="lyrics/novelists/heartfelt.html" target="_blank">Heartfelt</a></p>
    <br>
    <h3 id="Novelists_noir">Noir</h3>
    <p><a href="lyrics/novelists/appel_du_vide.html" target="_blank">L'appel du Vide</a></p>
    <p><a href="lyrics/novelists/monochrome.html" target="_blank">Monochrome</a></p>
    <p><a href="lyrics/novelists/under_different_welkins.html" target="_blank">Under Different Welkins</a></p>
    <p><a href="lyrics/novelists/nuits_noires.html" target="_blank">Les Nuits Noires</a></p>
    <p><a href="lyrics/novelists/grey_souls.html" target="_blank">Grey Souls</a></p>
    <p><a href="lyrics/novelists/bitter_end.html" target="_blank">A Bitter End</a></p>
    <p><a href="lyrics/novelists/stranger_self.html" target="_blank">Stranger Self</a></p>
    <p><a href="lyrics/novelists/the_light_the_fire.html" target="_blank">The Light, The Fire</a></p>
    <p><a href="lyrics/novelists/joie_de_vivre.html" target="_blank">Joie de Vivre</a></p>
    <p><a href="lyrics/novelists/lead_the_light.html" target="_blank">Lead the Light</a></p>
    <p><a href="lyrics/novelists/a_travers_le_miroir.html" target="_blank">À Travers le Miroir</a></p>
    <p><a href="lyrics/novelists/heal_the_wound.html" target="_blank">Heal the Wound</a></p>
    <br>
    <h3 id="Novelists_cest_la_vie">C'est la vie</h3>
    <p><a href="lyrics/novelists/somebody_else.html" target="_blank">Somebody Else</a></p>
    <p><a href="lyrics/novelists/deep_blue.html" target="_blank">Deep Blue</a></p>
    <p><a href="lyrics/novelists/lilly.html" target="_blank">Lilly</a></p>
    <p><a href="lyrics/novelists/modern_slave.html" target="_blank">Modern Slave</a></p>
    <p><a href="lyrics/novelists/c_est_la_vie.html" target="_blank">C'est la Vie</a></p>
    <p><a href="lyrics/novelists/head_rush.html" target="_blank">Head Rush</a></p>
    <p><a href="lyrics/novelists/kings_of_ignorance.html" target="_blank">Kings of Ignorance</a></p>
    <p><a href="lyrics/novelists/rain.html" target="_blank">Rain</a></p>
    <p><a href="lyrics/novelists/human_condition.html" target="_blank">Human Condition</a></p>
    <br>
    <h3 id="Novelists_deja_vu">Déjà Vu: Première Partie</h3>
    <p><a href="lyrics/novelists/smoke_signals.html" target="_blank">Smoke Signals</a></p>
    <p><a href="lyrics/novelists/terrorist.html" target="_blank">Terrorist</a></p>
    <p><a href="lyrics/novelists/do_you_really_wanna_know.html" target="_blank">Do You Really Wanna Know ?</a></p>
    <p><a href="lyrics/novelists/lost_cause.html" target="_blank">Lost Cause</a></p>
    <br>
    <h3 id="Novelists_autres">Autres</h3>
    <p><a href="lyrics/novelists/after_the_rain.html" target="_blank">After the Rain</a></p>
    <p><a href="lyrics/novelists/delusion.html" target="_blank">Delusion</a></p>
    <p><a href="lyrics/novelists/eyes_wide_shut.html" target="_blank">Eyes Wide Shut</a></p>
    <p><a href="lyrics/novelists/immedicable.html" target="_blank">Immedicable</a></p>
  </div>
</body>

<footer>
  <h2> <a href="../index.html">Back to Home Page</a> </h2>
</footer>
</html>
