<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../../css/lyrics_css/pages.css">
  <title>À Travers le Miroir (lyrics)</title>
</head>
<body>
  <h1>Novelists Fr - À Travers le Miroir</h1>
  <br><br>
  <div>
    She imprisoned my soul in a bottle<br>
    Like a firefly<br>
    And threw it again to the fire<br>
    <br>
    She drew me that life on a vacant canvas<br>
    But she's gone with its colors<br>
    We're playing a duet<br>
    But the melody of melancholy seems to be the only thing we share<br>
    <br>
    Tell me the secrets of her fantasy<br>
    How could I believe in this heaven that she promises?<br>
    <br>
    She's calling my name in my dreams<br>
    I can't hide<br>
    Oh she's in the walls, and she never falls asleep<br>
    I feel her presence<br>
    In these streets, in my house<br>
    In these thoughts that I have<br>
    With her cloak and her big black scythe<br>
    <br>
    This sharp taste of iron doesn't really leave<br>
    (Never really leaves)<br>
    Like calling her ghost through the mirror<br>
    I'm painting my life on this vacant canvas with my own blood<br>
    <br>
    She's calling my name in my dreams<br>
    I can't hide<br>
    Oh she's in the walls, and she never falls asleep<br>
    I feel her presence<br>
    In these streets, in my house<br>
    In these thoughts that I have<br>
    With her cloak and her big black scythe<br>
    <br>
    I'm calling her ghost through the mirror<br>
    Oh I know that I just can't hide
  </div>
</body>
</html>
