<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../../css/lyrics_css/pages.css">
  <title>After the Rain (lyrics)</title>
</head>
<body>
  <h1>Novelists Fr - After the Rain</h1>
  <br><br>
  <div>
    It's coming in waves, just breathe<br>
    And keep your eyes closed<br>
    Let it bury you<br>
    I know you will be alright<br>
    It comes like the rain<br>
    Don't think and keep your eyes closed<br>
    Till the clouds are gone<br>
    You'll see, it'll be just fine<br>
    Conjure this feeling of solitude<br>
    A thousand screens on the walls<br>
    Lay down the cross of your onism<br>
    Burning you down to the roots<br>
    Don't thrill when it slowly takes you under<br>
    And the flames all around are climbing higher<br>
    <br>
    Can't keep on taking the suffering<br>
    Over and over again<br>
    And feel you're just a shadow on the wall<br>
    Can't shed your soul and pretend you heal<br>
    Over and over again, every day<br>
    This is a battle against your heart<br>
    This is a war against yourself<br>
    <br>
    It'll leave with the rain, don't breathe<br>
    Tryna catch the lightning when the thunder growls<br>
    You'll see, it's fleeting like these dreams<br>
    Let it cover your skin, so thin<br>
    So pale and fragile like this love you grew<br>
    Dragging you through the night<br>
    <br>
    Can't keep on taking the suffering<br>
    Over and over again<br>
    And feel you're just a shadow on the wall<br>
    Can't shed your soul and pretend you heal<br>
    Over and over again, every day<br>
    This is a battle against your heart<br>
    This is a war against yourself
  </div>
</body>
</html>
