<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../../css/lyrics_css/pages.css">
  <title>L'appel du Vide (lyrics)</title>
</head>
<body>
  <h1>Novelists Fr - L'appel du Vide</h1>
  <br><br>
  <div>
    I cannot explain this feeling I'm having<br>
    When I'm looking at these pictures<br>
    Yellowed by the sun<br>
    This weird emotion is sticking at my soul<br>
    It numbs me to the bones<br>
    <br>
    These moments are battles I can't win<br>
    <br>
    Everything that I love is killing me<br>
    And these lies won't save me any longer (can't save me anymore)<br>
    I've destroyed one by one every beloved thing<br>
    Right before my own eyes<br>
    Slowly but surely<br>
    <br>
    One day I'll be part of the ghosts on your photographs<br>
    And you'll forget about me when other ones come<br>
    <br>
    You will replace one by one every memories<br>
    They will fall away and merge in the afterglow<br>
    <br>
    I cannot explain this feeling I'm having<br>
    When I'm hearing these hearts singing<br>
    Burdened by their dirge<br>
    This weird emotion that's echoing with my soul is all I ever feared<br>
    <br>
    These moments are battles I can't win<br>
    <br>
    Everything that I love is killing me<br>
    And these lies won't save me any longer (can't save me anymore)<br>
    I've destroyed one by one every beloved thing<br>
    Right before my own eyes<br>
    Slowly but surely<br>
    <br>
    I'll never get used to this acrid venom<br>
    That's shooting through my veins<br>
    I'll never get used to this ice that stands beneath my skin
  </div>
</body>
</html>
