<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../../css/lyrics_css/pages.css">
    <title>A Bitter End (lyrics)</title>
  </head>
  <body>
    <h1>Novelists Fr - A Bitter End</h1>
    <br><br>
    <div>
      I'm so sick of these moments with you<br>
      Of staring at all these stars<br>
      Hand in hand like two liars<br>
      I swear sometimes I'd rather be dead<br>
      Just like the lights in your eyes<br>
      The lights of the town don't shine like they used to<br>
      How could I let this be?<br>
      Oh how could I let this be?<br>
      What have we got left except this long silence?<br>
      We're fading out as the night falls down<br>
      What have we got left expect this fucking distance that is standing<br>
      Right between us?<br>
      <br>
      We're standing together on the edge like ready to burn<br>
      We're staring at each other, fade along the days (we're fading)<br>
      Denying a bitter end<br>
      <br>
      Our fucking dance is endless<br>
      And sometimes, I'd rather be dead<br>
      I'd rather watch us fucking burn<br>
      <br>
      Endless, our fucking dance is endless<br>
      We're dancing on our graves<br>
      I'd rather watch us...<br>
      I'd rather watch us burn<br>
      <br>
      We're standing together on the edge<br>
      Denying a bitter end<br>
      <br>
      We're standing together on the edge like ready to burn<br>
      We're staring at each other, fade along the days (we're fading)<br>
      Denying a bitter end<br>
      <br>
      I've had enough of your fucking bullshit<br>
      To relive each of these lies<br>
      Hand in hand, like two liars<br>
      I swear, sometimes, I'd rather be dead<br>
      Just like this hole in my heart<br>
      My pain keeps growing like it used to<br>
      How could you let this be?<br>
      Oh how could you let this be?<br>
      What have we got left except this long silence?<br>
      We're fading out as the night falls down<br>
      What have we got left expect this fucking distance that is standing right between us?<br>
      <br>
      Our fucking dance is endless<br>
      I'd rather watch us fucking burn
    </div>
  </body>
</html>
