<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../../css/lyrics_css/pages.css">
    <title>Black Lights (lyrics)</title>
  </head>
  <body>
    <h1>Novelists Fr - Black Lights</h1>
    <br><br>
    <div>
      I'm going away.<br>
      I'll follow the sun on its journey to lead my steps.<br>
      No matter the winds, no matter the rain, I'll keep on walking, I'll see where it ends.<br>
      I tried to live through these souvenirs.<br>
      I have talked to this man I'll never be and wiped all of these tears.<br>
      I tried to be what they wanted...<br>
      To be the saviour they've called here.<br>
      But all I needed was to find my place.
    </div>
  </body>
</html>
