<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../../css/lyrics_css/pages.css">
  <title>C'est la Vie (lyrics)</title>
</head>
<body>
  <h1>Novelists Fr - C'est la Vie</h1>
  <br><br>
  <div>
    I'm sick of spending all these days<br>
    Looking for some nepenthe<br>
    Like atelophobic and solivagant<br>
    How could I believe in magic<br>
    When we all feel so alone<br>
    And only try to survive for redamancy?<br>
    <br>
    I'm pacing downtown everynight<br>
    And everyone's giving advice<br>
    But no one really seems to give a shit<br>
    So who's gonna...<br>
    Who's gonna be my catharsis<br>
    And get me outside of my head<br>
    When I'm one breath away from drowning?<br>
    <br>
    Guess I been wasting time as it's wasting me<br>
    Nicotine in the veins<br>
    A thousand wishes hanging on my lip tips<br>
    How could I believe in magic<br>
    When we are all so alone<br>
    And only try to survive all the things we feel?<br>
    <br>
    Surfing on liberosis<br>
    Don't wanna know if I still bleed<br>
    Just wanna feel like dust in the winds<br>
    Let me drown in velleities<br>
    Don't wanna know if I still breathe<br>
    Just wanna feel the light on my face<br>
    <br>
    No one will ever try to break the silence<br>
    When it's burning out my conscience<br>
    When it's running every inch of my mind<br>
    <br>
    Here, even just to feel is complex<br>
    But I wanna try and dare<br>
    Take a moment to admire the world
  </div>
</body>
</html>
