<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../../css/lyrics_css/pages.css">
  <title>Deep Blue (lyrics)</title>
</head>
<body>
  <h1>Novelists Fr - Deep Blue</h1>
  <br><br>
  <div>
    Can't stop yourself from thinking<br>
    It's slowly sinking deep under your skin<br>
    And slowly wiping out in the blue<br>
    But it keeps constellating your mind at dawn<br>
    <br>
    You're lost again<br>
    It all feels vain<br>
    And yet the sun keeps shining again<br>
    <br>
    You drew a line a thousand times<br>
    And yet the sky keeps clouding over<br>
    <br>
    Just take my hand and<br>
    Close your eyes<br>
    It's far from over<br>
    We're far from home<br>
    And I can't deny there's only hell ahead<br>
    <br>
    You'll never escape the grey in your mind<br>
    Open your arms and embrace it<br>
    You'll never escape the weight of your heart<br>
    Just drown yourself in the feeling<br>
    <br>
    Just take my hand and close your eyes<br>
    It's far from over<br>
    We're far from home<br>
    And I can't deny there's only hell ahead<br>
    <br>
    Can't stop your heart from sinking<br>
    It's gently dragging you down in this grave<br>
    I watch it drowning down inside you<br>
    And it keeps constellating your mind and soul<br>
    <br>
    You drew a line, a thousand times<br>
    But all the pain is taking over<br>
    You're lost again, it all feels vain<br>
    And yet the sun keeps shining<br>
    <br>
    If you change the way you look at things<br>
    The things you look at change<br>
    Just find that little something<br>
    I swear the beauty is everywhere<br>
    It's only yours to see<br>
    It's all in your hands<br>
    <br>
    It's all in your hands...
  </div>
</body>
</html>
