<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../../css/lyrics_css/pages.css">
  <title>Delusion (lyrics)</title>
</head>
<body>
  <h1>Novelists Fr - Delusion</h1>
  <br><br>
  <div>
    I always wonder if there's something above our heads?<br>
    Drowning my eyes in the depths overlooking us<br>
    But I can't wipe off the doubt it's bringing in<br>
    Who needs a reason to escape from the gallows?<br>
    Cause all the light I'm bathing in is fake<br>
    I shall just keep it, shall keep it away from me<br>
    I forged myself on what I've been living not on what I was supposed to feel<br>
    <br>
    Because my life has been made for me to live it alone (alone)<br>
    I just can't give another part of myself<br>
    All I can get.. yes all I can get is a fucking missing piece instead / OH<br>
    Now my conscious can't reach the surface<br>
    There's nothing above us, no nothing above<br>
    Yet I'm left with my shoulders to hold on another dawn<br>
    <br>
    Get me out of this mess that I'm in<br>
    I can't find my place through the masses nor find a reason to search it<br>
    I tore my mind to shreds, beating my heart to death to find<br>
    Peace in here. there's another part of my delusion<br>
    <br>
    Cause my life has been made for me to live it alone<br>
    You'll never give us anything<br>
    So what can be shared between us?<br>
    Because I got nothing to give<br>
    You should have known I got nothing to show you<br>
    No hope, no sorrow, I just won't let you know<br>
    <br>
    I always wonder if there's something above our heads?<br>
    Here in this time, I'm not counting on the faith<br>
    But I can't wipe off the doubt it's bringing in<br>
    For I can't see the walls when they collaspe on me<br>
    Cause all the light I'm bathing in is fake<br>
    I shall just keep it, shall keep it away from me<br>
    I forged myself on what I've been living<br>
    Not on what they were supposed to bring<br>
    <br>
    I mean it's hard to live just like there's no meaning to it<br>
    Shit my throat is tied beneath this god damn truth<br>
    <br>
    I've learned your fables, but to me, they're nothing more but a fucking trend<br>
    Your stories only bring the grief, an outburst when the thunder screams<br>
    Life brought the worst, but now this is just nothing less but the end of this all<br>
    A false story grows to numb the pain, reassuring me to not awake the hatred<br>
    <br>
    OH PLEASE<br>
    Get me out of this mess that I'm in<br>
    I can't find my place through the masses nor find a reason to search it<br>
    I tore my mind to shreds, beating my heart to death to find<br>
    Peace in here. there's another part of my delusion<br>
    <br>
    I always wonder if there's something above our heads?<br>
    Here in this time I'm not counting on the faith<br>
    Because we're left with a rope upon our fucking neck<br>
    So get ready to live in vain<br>
    You know that I got nothing to show<br>
    No faith, no hope, no home, no sorrow<br>
    But I just, oh I just won't let you know
  </div>
</body>
</html>
