<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../../css/lyrics_css/pages.css">
  <title>Do You Really Wanna Know ? (lyrics)</title>
</head>
<body>
  <h1>Novelists Fr - Do You Really Wanna Know ?</h1>
  <br><br>
  <div>
    Going down, going down with the sirens<br>
    Bring me down, bring me down, witness the violence<br>
    You'll have to figure me out<br>
    Pretend to be what the eyes can see<br>
    How would you know that there's a void inside of me?<br>
    I've been hiding in my plain sight to save me<br>
    And when it all comes undone who's gonna take it away<br>
    <br>
    What if I told the voice in my head<br>
    That I've always been trying my best, so what's left to give?<br>
    But in the end I just feel so dead<br>
    If I keep hiding away then what's left to live?<br>
    <br>
    Do you really wanna know what it feels like from the inside?<br>
    But what you will find won't be what's on the outside<br>
    I hate that I don't have the strength<br>
    I hate that I'm a fucking slave<br>
    Worst part is I know what you will find<br>
    Won't be what's on the outside<br>
    <br>
    (I hate that I'm a fucking slave)<br>
    <br>
    I'm such a fucking slave<br>
    <br>
    God, I'm done, yeah I'm done with the silence<br>
    Bring me down, bring me down, erase the violence<br>
    I can't quite figure it out<br>
    Why can't I heal, this can't be real<br>
    I'm lost in the void and I can't barely feel<br>
    Tryna seize a world that can't be<br>
    The choices that I make lead to the end of me<br>
    <br>
    What if I told the voice in my head?<br>
    If you don't want me to change, then how could I?<br>
    But in the end I just feel so dead<br>
    If I keep hiding away then what's left to live?<br>
    <br>
    Do you really wanna know what it feels like from the inside?<br>
    But what you will find won't be what's on the outside<br>
    I hate that I don't have the strength<br>
    I hate that I'm a fucking slave<br>
    Worst part is I know what you will find<br>
    Won't be what's on the outside<br>
    <br>
    I became someone that I don't want to be<br>
    This void is all I can see<br>
    When nothing is left down inside of me<br>
    Who's gonna set me free?<br>
    <br>
    Who's gonna set me free?<br>
    Who's gonna set me free?
  </div>
</body>
</html>
