<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../../css/lyrics_css/pages.css">
  <title>Eyes Wide Shut (lyrics)</title>
</head>
<body>
  <h1>Novelists Fr - Eyes Wide Shut</h1>
  <br><br>
  <div>
    Tame our addictions<br>
    Keep us accustomed to this constant need of becoming someone<br>
    Feed our ego and make us self-centered suns of a selfish world<br>
    <br>
    Lead us to the loss of selfhood<br>
    We'll behave like fucking mirrors in these crowded rooms<br>
    Make us the reflection of our thirst to consume<br>
    And let us drown<br>
    <br>
    Caught in the shimmer of a misleading world this life becomes mirage<br>
    And strays at the surface like unable to die<br>
    Forever captive of our eyes<br>
    <br>
    We gaze at the world<br>
    Our souls as deep as a gaping gulf<br>
    Covetous of what might be lying elsewhere<br>
    We worship the feeling born from the whims of a vivid dream and the love of our barren hearts<br>
    We seek ourselves on a fucking sea of screen<br>
    <br>
    Fed of fictions<br>
    Growing dim<br>
    Damned to lose ourselves in a maze of lies and mirrors<br>
    Fed of fictions, growing dim<br>
    Keeping our eyes shut, facing our own end…<br>
    …We still believe we'll be saved<br>
    <br>
    Caught in the shimmer of a misleading world this life becomes mirage<br>
    And strays at the surface like unable to die<br>
    Forever captive of our eyes
  </div>
</body>
</html>
