<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../../css/lyrics_css/pages.css">
    <title>Grey Souls (lyrics)</title>
  </head>
  <body>
    <h1>Novelists Fr - Grey Souls</h1>
    <br><br>
    <div>
      I see the eyes of a thousand suns<br>
      Staring at all these lonely beings of carbon<br>
      Lost in the desert of their souls<br>
      Seeking a meaning to their existence<br>
      A sense to their lives<br>
      <br>
      We are the desperate souls<br>
      The children of a bottomless chasm<br>
      We are the shadow of a dying world<br>
      <br>
      We're thousands, dead inside<br>
      No constellation in our eyes<br>
      Just dead stars<br>
      (My poor friends what a sorry state we're in)<br>
      You'll find no source of light<br>
      Nor any answers in our hearts<br>
      Just grey souls<br>
      <br>
      To numb the pain devour the soul like a black hole<br>
      And let us fade along these monotonous days<br>
      We're broken, seeking a way...<br>
      Seeking a way out of this endless hell<br>
      Confined inside the back of our fucking skulls<br>
      <br>
      We cower to hide from the light of the stars<br>
      Back into the mire<br>
      We're hopelessly drowning<br>
      Our evils meddle with each fucking day<br>
      This nascent fire will forever consume us<br>
      <br>
      We're thousands dead inside<br>
      No constellation in our eyes<br>
      Just dead stars<br>
      (My poor friends what a sorry state we're in)<br>
      You'll find no source of light<br>
      Nor any answers in our hearts<br>
      But grey souls
    </div>
  </body>
</html>
