<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../../css/lyrics_css/pages.css">
  <title>Head Rush (lyrics)</title>
</head>
<body>
  <h1>Novelists Fr - Head Rush</h1>
  <br><br>
  <div>
    Is this where all is ending?<br>
    Cause I don't wanna leave right now you know...<br>
    (Don't let the night in)<br>
    Can't seem to stop the bleeding<br>
    Just can't pretend I got this in control<br>
    (You should have seen it coming)<br>
    I don't wanna feel the comedown<br>
    Just wanna feel it bite and burn me whole<br>
    (And watch me fade into the flames)<br>
    I'm only going nowhere<br>
    Or straight into the fucking wall<br>
    (Can't you feel?)<br>
    <br>
    Can't prove me wrong<br>
    Just kill this now<br>
    I wanna see what will survive<br>
    Just say you'll try and swear it on my life<br>
    Even if deep down we both know you lie<br>
    <br>
    Tell me this life is harmless<br>
    While it's skinning me to the bones<br>
    Looking me straight in the eyes<br>
    When it is stealing my breath<br>
    Tell me the scars will make sense<br>
    When the wounds are way too deep<br>
    Don't let me believe that it's gonna end like this<br>
    <br>
    This feeling is like a fire<br>
    Rushing in these veins<br>
    Keeping me alive when your eyes are on me<br>
    I can't escape these colors<br>
    You designed inside of my brain<br>
    When you let the lights in<br>
    <br>
    Can anybody stay here?<br>
    Don't really wanna sleep right now, you know...<br>
    (Don't let the night in)<br>
    I wanna keep believing<br>
    This will all make sense somehow<br>
    (Let me feel)<br>
    <br>
    Can't prove me wrong<br>
    Just kill this now<br>
    I wanna see what will survive<br>
    Just say you'll try and swear it on my life<br>
    Even if deep down we both know you lie<br>
    <br>
    Tell me this life is harmless<br>
    While it's skinning me to the bones<br>
    Looking me straight in the eyes<br>
    When it is stealing my breath<br>
    Tell me the scars will make sense<br>
    When the wounds are way too deep<br>
    Don't let me believe that it's gonna end like this<br>
    <br>
    I stand here and sometimes<br>
    My words don't make sense<br>
    Like they only fade away<br>
    And disappear beneath the voice of my own silence<br>
    But you keep me breathing<br>
    And right here I feel alive...<br>
    You've always been the brighter part of me<br>
    The brighter part of me<br>
    The brighter part of me<br>
    <br>
    This feeling is like a fire<br>
    Rushing in these veins<br>
    Keeping me alive when your eyes are on me<br>
    I can't escape these colors<br>
    You designed inside of my brain<br>
    When you let the lights in<br>
    <br>
    I can't escape these colors<br>
    When you let the lights in<br>
    I can't escape these colors<br>
    When you let the lights in
  </div>
</body>
</html>
