<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../../css/lyrics_css/pages.css">
  <title>Heal the Wound (lyrics)</title>
</head>
<body>
  <h1>Novelists Fr - Heal the Wound</h1>
  <br><br>
  <div>
    Teach me to face what's lurking deep inside<br>
    I'm crashing down right before you<br>
    I feel broken, I feel downed<br>
    With my face against the ground<br>
    My heart is weighting me<br>
    My icy soul is afire<br>
    <br>
    I'm running after bliss<br>
    'Cause I don't know what it tastes like<br>
    But I'm not blaming anyone, no<br>
    I'm way too much detached now<br>
    Insensitive to your words<br>
    And each time that I'm alone<br>
    My fucking conscience tells me:<br>
    <br>
    &quot;You're feeling sick of trying<br>
    Of trying to bury the reason<br>
    Of trying to heal the wounds in time<br>
    You wanted to...<br>
    To learn to love this feeling<br>
    That's raging in your soul.&quot;<br>
    <br>
    Teach me to face what lurks within my heart<br>
    I'm crashing down right before you<br>
    I'm always hiding behind this smile<br>
    The smile on my face<br>
    So no one's gotta ask me if everythings okay<br>
    <br>
    Just read between the lines<br>
    I'm wishing that you can see<br>
    My sky ain't bluer than yours<br>
    <br>
    I'm way too much detached now<br>
    I think I'm too far gone<br>
    'Cause each time I'm feeling lost<br>
    My fucking conscience tells me:<br>
    <br>
    &quot;You're feeling sick of trying<br>
    Of trying to bury the reason<br>
    Of trying to heal the wounds in time<br>
    You wanted to...<br>
    To learn to love this feeling<br>
    That's raging in your soul.&quot;<br>
    <br>
    I'm feeling sick of trying<br>
    Of trying to bury the reason<br>
    I wanted to...<br>
    To learn to love this feeling that's raging in my soul<br>
    <br>
    I've learned to love the thunder, until the sun comes back<br>
    I've learned to love this rumble that haunts my mind<br>
    It's never ever easy<br>
    But I hold onto these lines<br>
    I've learned to love this black cloud that haunts my nights
  </div>
</body>
</html>
