<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../../css/lyrics_css/pages.css">
  <title>Human Condition (lyrics)</title>
</head>
<body>
  <h1>Novelists Fr - Human Condition</h1>
  <br><br>
  <div>
    I feel like we rely on a fucking billion empty words<br>
    And lies of a thousand years of cultural conditioning<br>
    Trapped in an endless spiral, left with a dying heart<br>
    I can't recognize the dreams I used to have<br>
    <br>
    Just give me things to admire<br>
    I'm running running<br>
    Running away from you,<br>
    From the human condition<br>
    I'm bleeding, bleeding<br>
    Trying to let this go<br>
    <br>
    This isn't a call for help<br>
    It is a call to fight for revolution<br>
    Cause I can't free my mind<br>
    So let me watch this perfect world burn<br>
    <br>
    I can't stand to see us fall apart<br>
    To watch us all walk like we're all worthless<br>
    To know we're deeply blackened to the core<br>
    I wonder if we can still feel something<br>
    <br>
    Don't tell me the truth<br>
    I just want a lie this time<br>
    Don't tell me the truth<br>
    I just need a lie this time<br>
    Cause this sight won't hold me back<br>
    <br>
    Just give me things to admire<br>
    I'm running running<br>
    Running away from you<br>
    From the human condition<br>
    I'm bleeding, bleeding<br>
    Trying to let this go
  </div>
</body>
</html>
