<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../../css/lyrics_css/pages.css">
  <title>Immedicable (lyrics)</title>
</head>
<body>
  <h1>Novelists Fr - Immedicable</h1>
  <br><br>
  <div>
    We've got nothing to say<br>
    We're just so pissed off, rotting and ephemeral<br>
    Litteraly dying on the pavement<br>
    But is this what we deserve?<br>
    Oh the blood in our veins was made for this<br>
    We're living 'till the end and when the morning comes we're screwed and sullen<br>
    <br>
    'Cause we're all living in this god damn shit<br>
    And each day we're digging deeper<br>
    To be sure that our soul will be fucking safe<br>
    <br>
    We were feeling so safe<br>
    But we can't rest away from the bustle of the outside<br>
    All I can see? the white of our eyes, and it's empty<br>
    My soul is buried deep in the ground<br>
    <br>
    We are apathetics, and we belong to this fucking dirt<br>
    (From the dust to the dust)<br>
    I think it's time for you to figure this one out<br>
    <br>
    We're broken and ruthless<br>
    So what can get lost except the will of being expected?<br>
    I'm a being of solitude doomed to live<br>
    A pawn on my own chessboard<br>
    <br>
    It feels like we've got no fucking pulse<br>
    And once more we're done<br>
    You let us sink into this constant rejection. (rejection)<br>
    In this self made hell, all of this is vain<br>
    <br>
    Can't we just heal?<br>
    <br>
    I won't break my legs again to search what I got left<br>
    I can't find what I have missed<br>
    <br>
    I won't brace my fucking heart again / again<br>
    <br>
    We're broken and ruthless<br>
    So what can get lost except the will of being expected<br>
    I'm a being of solitude doomed to live<br>
    A pawn on my own chessboard<br>
    <br>
    I've lost your voice in the distance<br>
    Yet it's back on the stage now<br>
    Sounds are flooding my mind, I just can't close my eyes<br>
    I'm bleeding 'till I'm dry, we're the scars of your<br>
    Your so called perfection<br>
    I'm lost in this gloom's persistence<br>
    I've broken the mirror<br>
    And those scars on my skin remember me the worst<br>
    All I've wanted was to heal in time but now I'm trapped<br>
    Inside of my own chessboard
  </div>
</body>
</html>
