<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../../css/lyrics_css/pages.css">
    <title>Joie de Vivre (lyrics)</title>
  </head>
  <body>
    <h1>Novelists Fr - Joie de Vivre</h1>
    <br><br>
    <div>
      It comes in like a cold wind<br>
      The spirit of the world we live in<br>
      I'm holding a wave<br>
      Go give it away 'cause...<br>
      <br>
      Are we looking for the answers?<br>
      Or are we dropping to our knees and giving in?<br>
      I'm running again<br>
      Stop running away 'cause...<br>
      'Cause I feel exiled inside of my head<br>
      Existing through this vivid dream<br>
      <br>
      Say that I'll feel the same (it's not your time)<br>
      Say that I'll feel the same<br>
      But it's now or never<br>
      And I keep running away<br>
      (Existing through this vivid dream)<br>
      I keep running away (it's not your time)<br>
      <br>
      So I'm chasing the joie de vivre<br>
      Not really knowing how it works<br>
      I'm holding on a dream<br>
      Even if everything around me collapses<br>
      <br>
      So turn and face your fears<br>
      Thoughts rise, your mind it clears<br>
      I feel it again, oh I feel it again<br>
      Because I thought I needed somewhere to run<br>
      Looking for home, like night for the setting sun<br>
      Oh I'm shining again, oh I'm shining again<br>
      <br>
      Say that I'll feel the same (it's not your time)<br>
      Say that I'll feel the same<br>
      But it's now or never<br>
      And I keep running away<br>
      (Existing through this vivid dream)<br>
      I keep running away (it's not your time)
    </div>
  </body>
</html>
