<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../../css/lyrics_css/pages.css">
  <title>Kings of Ignorance (lyrics)</title>
</head>
<body>
  <h1>Novelists Fr - Kings of Ignorance</h1>
  <br><br>
  <div>
    Under the dismal eyes of the azure<br>
    Watching us with indifference<br>
    We walk like the kings of ignorance<br>
    And die like the waves on the shoreline<br>
    <br>
    Can't escape the call of oblivion<br>
    Tell me what matters in the end of it all<br>
    Is there a sens to this sempiternal questioning<br>
    If we don't live forever?<br>
    <br>
    Aren't you tired of watching the stars<br>
    Waiting for answers?<br>
    Nothing await us in the sky<br>
    Only the void is real<br>
    And this endless silence<br>
    <br>
    We're going nowhere<br>
    <br>
    Living like I'm broken<br>
    I've never been so sick<br>
    'Cause everything has turned into a burden<br>
    I am not the person I used to be<br>
    Lost in the galaxy<br>
    Trying to hear a sound from the deep<br>
    But this silence is everlasting<br>
    <br>
    Under the dismal eyes of the azure<br>
    Watching us with indifference<br>
    We walk like the kings of ignorance<br>
    And die like the waves on the shoreline<br>
    <br>
    I ain't gonna try to fill the void of misery<br>
    Cause it feels like everyday's the worst<br>
    I'm gonna feed the words by any means<br>
    I'm trying to be the one<br>
    Betrayed, all alone<br>
    Because all I want is to see the world<br>
    And feel the ground under my feet<br>
    <br>
    Aren't you tired of watching the stars<br>
    Waiting for answers?<br>
    Nothing await us in the sky<br>
    Only the void is real<br>
    And this endless silence
  </div>
</body>
</html>
