<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../../css/lyrics_css/pages.css">
  <title>Lead the Light (lyrics)</title>
</head>
<body>
  <h1>Novelists Fr - Lead the Light</h1>
  <br><br>
  <div>
    I've never really been proud of my life<br>
    I've made a lot of bad choices<br>
    But the chance that I was given helped me to change<br>
    You know I've been running after something I was dreaming of<br>
    And somehow it brought me the strength to still believe<br>
    <br>
    I'm not holding any fucking answer about that life<br>
    I’m just trying to live mine<br>
    Without putting my feelings aside<br>
    I keep on trying to find my place in this world<br>
    <br>
    Let the light come in<br>
    Show me the way before the night calls me again<br>
    And if there's any price to pay<br>
    Then just take everything I have ever owned<br>
    <br>
    I've never really been proud of myself<br>
    I've made a lot of bad choices<br>
    But the chance that I was given helped me to change<br>
    The pain is sticking to these songs<br>
    It seems to never leave<br>
    But somehow that is what has always defined me
  </div>
</body>
</html>
