<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../../css/lyrics_css/pages.css">
  <title>Lilly (lyrics)</title>
</head>
<body>
  <h1>Novelists Fr - Lilly</h1>
  <br><br>
  <div>
    I remember each one of our secrets<br>
    Every single moment<br>
    Every single fucking thing I would've loved to tell you<br>
    It's been a while I guess<br>
    You may be watching from the cold rain clouds<br>
    They are never really leaving me<br>
    <br>
    I keep staring at the mirror<br>
    Hoping it all gets clearer<br>
    But I know it will never be the same<br>
    I guess I miss you more than what my heart can ever sing<br>
    All these dreams we shared are bringing it all back<br>
    <br>
    I truely hope that you can't see<br>
    What time has turned ourselves into<br>
    We don't behave like all the ghosts<br>
    You locked inside all these empty rooms<br>
    <br>
    No matter the years and the pouring rain<br>
    I remember your smile everyday<br>
    Just can't forget the promise we made<br>
    Even though...<br>
    It's been a while now<br>
    <br>
    You told me some wounds never heal<br>
    Cause they are meant to make us stronger<br>
    Each one of these memories I got left<br>
    Let them last a bit longer<br>
    Just a bit longer<br>
    <br>
    I'm still laying on this bed sometimes<br>
    Open wounds facing the stars<br>
    Remembering your voice as it gets dark<br>
    Oh time steals us everything...<br>
    But time is all we got here<br>
    <br>
    So I will live and I will surely fall<br>
    But I will fight to know what it takes to feel alive<br>
    What it's like to be a little more like you<br>
    Just a little more like you<br>
    <br>
    You told me some wounds never heal<br>
    Cause they are meant to make us stronger<br>
    Each one of these memories I got left<br>
    Let them last a bit longer<br>
    Just a bit longer
  </div>
</body>
</html>
