<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../../css/lyrics_css/pages.css">
  <title>Modern Slave (lyrics)</title>
</head>
<body>
  <h1>Novelists Fr - Modern Slave</h1>
  <br><br>
  <div>
    Let me escape<br>
    This chronic feeling sinking into me<br>
    When I'm gazing at the black empty skies<br>
    Bring me closer to the firmament's light<br>
    And just don't let me come down<br>
    Don't let me come down<br>
    <br>
    Take me away far from what eyes can see<br>
    Before my reveries come to an end<br>
    <br>
    Don't wanna be a modern slave<br>
    Of this wall-less prison<br>
    I've seen enough of the man-made hell<br>
    Masking the horizon<br>
    <br>
    Don't bring me back to the ground<br>
    Life looks better up there<br>
    Far from the noises of the world<br>
    (Far from the hell on the ground)<br>
    Don't bring me back down<br>
    Let me get far away from...<br>
    Far from the hell on the ground<br>
    <br>
    Show me there's something more than...<br>
    These open graveyards of metal<br>
    Take me away from this wasteland built on lies<br>
    Mirrors of our fucking greed<br>
    Reflect of our vanity<br>
    <br>
    Drowned in the crowd<br>
    Consumed by the world's effervescence<br>
    This whole system's a circus...<br>
    I don't ever wanna come back down<br>
    <br>
    Don't bring me back to the ground<br>
    Life looks better up there<br>
    Far from the noises of the world<br>
    (Far from the hell on the ground)<br>
    Don't bring me back down<br>
    Let me get far away from...<br>
    Far from the hell on the ground
  </div>
</body>
</html>
