<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../../css/lyrics_css/pages.css">
  <title>Monochrome (lyrics)</title>
</head>
<body>
  <h1>Novelists Fr - Monochrome</h1>
  <br><br>
  <div>
    I'm trying to survive these strange days<br>
    This life can be such an adventure<br>
    The world stands before my eyes wilder than it has ever been<br>
    <br>
    I forgot these old memories of youth that were caught right under the surface<br>
    Forgot these souvenirs of you that were calling back the pain<br>
    <br>
    I never felt happy somehow<br>
    But I'm trying, I'm trying the best I can<br>
    I really wanna feel happy sometimes<br>
    Really wanna know where the lights are<br>
    But it only feels so wrong<br>
    It's eating me alive<br>
    <br>
    I never know how to shorten the distance between my heart and my head<br>
    'Cause through my eyes, the days are monochrome<br>
    <br>
    I wanna feel the light of a new day<br>
    But I'm so scared of it all...<br>
    I'm scared this utter joy ain't lasting forever<br>
    It's eating me alive<br>
    <br>
    I never felt happy somehow<br>
    But I'm trying, I'm trying the best I can<br>
    I really wanna feel happy sometimes<br>
    Really wanna know where the lights are<br>
    But it only feels so wrong<br>
    It's eating me alive<br>
    <br>
    I'm trying to survive my feelings<br>
    The joy is the ghost of a wanderer<br>
    Lost somewhere outside of here<br>
    Counting every hour
  </div>
</body>
</html>
