<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../../css/lyrics_css/pages.css">
    <title>Les Nuits Noires (lyrics)</title>
  </head>
  <body>
    <h1>Novelists Fr - Les Nuits Noires</h1>
    <br><br>
    <div>
      I woke up again, from this recurrent nightmare<br>
      The night has never seemed so dark<br>
      I'm being swallowed by the abyss<br>
      My life, like brought back to the ether<br>
      My shadow is getting bigger<br>
      And there's nowhere to run<br>
      <br>
      Get me rid of this chronic pain<br>
      That drags me through the coldest hell<br>
      There is not much left of who I've been<br>
      I just cannot stop dreaming of the end<br>
      I can't stop and it's killing me<br>
      It's fucking killing me<br>
      <br>
      Someday I might find out where the bliss lurks<br>
      Caught in a web of lies<br>
      I found out that the truth can hurt<br>
      Just like a blade, a knife<br>
      I'm about to let go<br>
      I just can't do this on my own<br>
      <br>
      The pain is haunting my nights<br>
      I'm fucking scared of what tomorrow could be<br>
      And each time I try to face the light<br>
      I just don't fucking feel it<br>
      <br>
      Oh please father show me a sign<br>
      The devil starts to sing for me<br>
      The light begins to fade away<br>
      I fear for my fucking life<br>
      <br>
      Someday I might find out where the bliss lurks<br>
      Caught in a web of lies<br>
      I found out that the truth can hurt<br>
      Just like a blade, a knife<br>
      I'm about to let go<br>
      I just can't do this on my own
    </div>
  </body>
</html>
