<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../../css/lyrics_css/pages.css">
  <title>Rain (lyrics)</title>
</head>
<body>
  <h1>Novelists Fr - Rain</h1>
  <br><br>
  <div>
    It's coming in waves, just breathe<br>
    And keep your eyes closed<br>
    Let it bury you<br>
    I know you will be alright<br>
    <br>
    It comes like the rain<br>
    Don't think and keep your eyes closed<br>
    'Till the clouds are gone<br>
    You'll see, it'll be just fine<br>
    <br>
    Conjure this feeling of solitude<br>
    A thousand screens on the wall<br>
    Lay down the cross of your onism<br>
    Burning you down to the roots<br>
    <br>
    Don't thrill when it slowly takes you under<br>
    And the flames all around are climbing higher<br>
    <br>
    Can't keep on taking the suffering<br>
    Over and over again<br>
    And feel you're just a shadow on the wall<br>
    Can't shed your soul and pretend you heal<br>
    Over and over again everyday<br>
    This is a battle against your heart<br>
    This is a war against yourself<br>
    <br>
    Don't let all your doubts<br>
    Consume everything you know<br>
    Feel your heart<br>
    Don't let the world prevent you<br>
    From making it your own<br>
    Feel your heart
  </div>
</body>
</html>
