<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../../css/lyrics_css/pages.css">
  <title>Smoke Signals (lyrics)</title>
</head>
<body>
  <h1>Novelists Fr - Smoke Signals</h1>
  <br><br>
  <div>
    Won't fantasize<br>
    Will barely scream this time<br>
    It seems the tears don't go away<br>
    <br>
    Can't escape the dark, sinking into my heart<br>
    I'll never get to heal, can anybody understand?<br>
    <br>
    Oh, the world I built on<br>
    Lies over lies<br>
    Can't cope with the guilt, I'm restless<br>
    Can't seem to escape<br>
    The world raised me to be no sinner nor saint<br>
    But I am so close to the edge<br>
    If there's no one to hold me back<br>
    I might be better off taking the step<br>
    Into a world unknown<br>
    I know you will be better off on your own<br>
    <br>
    So when you're calling for help<br>
    Please remember<br>
    That we're all getting lost together<br>
    That nothing ever ever lasts forever<br>
    <br>
    Do you really think<br>
    That you're gonna want to meet the ghosts inside my head?<br>
    You won't escape the dark, sinking into my heart<br>
    I'll never get to heal, can anybody understand?<br>
    <br>
    But the world I built on lies over lies starts crumbling down<br>
    And I am so close to the edge<br>
    I might be better off taking the step<br>
    I might be better off taking the step<br>
    I might be better off taking the step<br>
    <br>
    So when you're calling for help<br>
    Please remember<br>
    That we're all getting lost together<br>
    That nothing ever ever lasts forever
  </div>
</body>
</html>
