<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../../css/lyrics_css/pages.css">
  <title>Somebody Else (lyrics)</title>
</head>
<body>
  <h1>Novelists Fr - Somebody Else</h1>
  <br><br>
  <div>
    Drifting on the airwaves<br>
    Stuck with earphones on<br>
    Can't feel no connection with the world around you<br>
    <br>
    Like overwhelmed by signals<br>
    Caught in a million wires<br>
    I keep on trying to believe<br>
    It's not too late to change, no<br>
    <br>
    It's like everyone needs to share<br>
    And wanna be adopted<br>
    How many likes just to feel alive?<br>
    Are we all disconnected?<br>
    <br>
    Can't get no reception<br>
    Yet every streets are crowded<br>
    And all is too intense<br>
    But nothing is ever made to last here<br>
    <br>
    Plasticize these feelings<br>
    A dozen filters on the face<br>
    And tell me how you're feeling<br>
    <br>
    How can we find ourselves in their world<br>
    If we're all dreaming to be somebody else...<br>
    And only suffer the difference?<br>
    <br>
    Drifting on the airwaves<br>
    Like tryna forget what's wrong<br>
    Can't feel no connection with the world around you<br>
    <br>
    Like seeing the world expire<br>
    Caught in a million wires<br>
    I keep on tryna believe it's not too late to change<br>
    <br>
    I'm sick of seeing ads<br>
    Sick of being forced to watch<br>
    So sick of being told who I am<br>
    I'm sick of hearing lies<br>
    So sick of hearing lies<br>
    So tired of trying<br>
    <br>
    How can we find ourselves in their world<br>
    If we're all dreaming to be somebody else...<br>
    And only suffer the difference?<br>
    <br>
    Can't get no reception
  </div>
</body>
</html>
