<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../../css/lyrics_css/pages.css">
    <title>Stranger Self (lyrics)</title>
  </head>
  <body>
    <h1>Novelists Fr - Stranger Self</h1>
    <br><br>
    <div>
      I've become a shadow amongst the shadows of your conscience<br>
      Another fucking blood stain on these walls<br>
      Oh I've been lost for too long within this garden of concrete<br>
      Into this hell that your eyes have always been reflecting<br>
      <br>
      You stand alone amongst the statues of these corridors<br>
      You're dwelling with a phantom between hell and home<br>
      <br>
      Oh I'm no one to you<br>
      A stranger that calls for the rain<br>
      I held on for nothing<br>
      You don't seem to see me<br>
      <br>
      You don't even speak to me anymore<br>
      Still thinking about just leaving and walking straight out the fucking door<br>
      A stranger, figment imaginated<br>
      Detail in haze, a ghost without the face and..<br>
      What, you ain't got no time for me now to be around<br>
      Love you from a distance the second I left<br>
      You see me now<br>
      Check, is that it<br>
      Mad, it's aristocratic<br>
      Glass inhabits<br>
      For the feeling it missed I'm shattered<br>
      Fuck it our frequency never matched<br>
      I never felt so attached<br>
      In a black dormant heart I will react<br>
      And I ain't got no time for you to feel<br>
      Time for you to heal<br>
      Time for you to see me through<br>
      This could be us but I know it's just you<br>
      This could be us but I know it's just you<br>
      <br>
      Now you would trade your soul<br>
      For a fucking day out of your skin<br>
      To get away from this house<br>
      Where you ahve to face what you look like<br>
      <br>
      You hate yourself<br>
      'Cause you're a passerby in the life of your loved ones<br>
      <br>
      Aren't you sick of acting like you're fine?<br>
      <br>
      Oh I'm no one to you<br>
      A stranger that calls for the rain<br>
      I held on for nothing<br>
      You don't seem to see me
    </div>
  </body>
</html>
