<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../../css/lyrics_css/pages.css">
  <title>Terrorist (lyrics)</title>
</head>
<body>
  <h1>Novelists Fr - Terrorist</h1>
  <br><br>
  <div>
    All by myself and the temperature keeps rising<br>
    I want to run away but I can't keep hiding<br>
    It's slowly creeping in, trying to take over my fucking soul<br>
    You know it's over once the voice takes control, oh<br>
    <br>
    And now I stand<br>
    Face to face with my biggest enemy<br>
    I can't let go<br>
    Of what's raging inside of me<br>
    <br>
    Terrorist, terrorist, I want it out of my head<br>
    Take control of my brain, erase my memory<br>
    Terrorist, terrorist, I want the voice to be dead<br>
    But it lives in my mind, I am the enemy<br>
    <br>
    (Terrorist, terrorist)<br>
    I want the voice to be dead<br>
    (Terrorist, terrorist)<br>
    (Terrorist, terrorist)<br>
    I want it out of my head<br>
    (Terrorist, terrorist)<br>
    <br>
    Exhausted by the fights<br>
    By holding you back; I'm under attack<br>
    Controlled by the parasite<br>
    I can't believe that this is all in my fucking head...<br>
    <br>
    Terrorist, terrorist, I want it out of my head<br>
    Take control of my brain, erase my memory<br>
    Terrorist, terrorist, I want the voice to be dead<br>
    But it lives in my mind, I am the enemy<br>
    <br>
    (Terrorist, terrorist)<br>
    I want the voice to be dead<br>
    (Terrorist, terrorist)<br>
    (Terrorist, terrorist)<br>
    I want it out of my head<br>
    (Terrorist, terrorist)<br>
    <br>
    Terrorist, terrorist, I want it out of my head<br>
    Take control of my brain, erase my memory<br>
    Terrorist, terrorist, I want the voice to be dead<br>
    But it lives in my mind, I am the enemy<br>
    <br>
    (Terrorist, terrorist)<br>
    I want the voice to be dead<br>
    (Terrorist, terrorist)<br>
    (Terrorist, terrorist)<br>
    I want it out of my head!<br>
    <br>
    (Terrorist, terrorist)
  </div>
</body>
</html>
