<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../../css/lyrics_css/pages.css">
    <title>Twenty Years (lyrics)</title>
  </head>
  <body>
    <h1>Novelists Fr - Twenty Years</h1>
    <br><br>
    <div>
      We all live different hells<br>
      Some might live with but some just can't<br>
      So why should I live a different way?<br>
      Yes, a different way<br>
      <br>
      Already twenty years have passed and I still can't live at ease<br>
      Oh, come on, fuck it<br>
      They claim the fame, but all they give is a spit at our faces<br>
      When they're playing their bullshit<br>
      <br>
      What does it take?<br>
      What does it take you to forget your pride?<br>
      What does it cost?<br>
      What does it cost you to pay the price?<br>
      <br>
      It's not only a game based on what you reflect to others<br>
      Although they want it to be<br>
      I can swear to you that I am probably the most blamed<br>
      Because I shout those fucks I lived<br>
      Fuck your false feelings, your appearance<br>
      'Cause the best are often the most rotten inside<br>
      So I'll put the truth right in front of your eyes<br>
      Right in front of your hearts<br>
      <br>
      Fuck your false feelings<br>
      'Cause the worst are the brighter inside<br>
      I'll put the truth right in front of your eyes<br>
      Until they dry from the inside out<br>
      <br>
      From the inside out<br>
      <br>
      I'm gonna prove to you<br>
      That we're all dying to make a place down here<br>
      We're all dying to make a place down here<br>
      <br>
      It's not only a game based on what you reflect to others<br>
      Although they want it to be<br>
      I can swear to you that I am probably the most blamed<br>
      Because I shout those fucks I lived<br>
      Fuck your false feelings, your appearance<br>
      'Cause the best are often the most rotten inside<br>
      So I'll put the truth right in front of your eyes<br>
      Right in front of your hearts<br>
      <br>
      Already twenty years have passed and I still can't live at ease<br>
      Oh, come on, fuck it<br>
      They've made the game, but all the need is a spit at their faces<br>
      When they play their shit<br>
      <br>
      We all live different hells<br>
      Some may live with but some just can't<br>
      So why should I live a different way?<br>
      Yes, a different way
    </div>
  </body>
</html>
