<!DOCTYPE html>
<html lang="fr" dir="ltr">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../../../css/lyrics_css/pages.css">
  <title>Under Different Welkins (lyrics)</title>
</head>
<body>
  <h1>Novelists Fr - Under Different Welkins</h1>
  <br><br>
  <div>
    I'm so scared of living my life in vain<br>
    I'm always always craving for better vibes<br>
    My hands are rough, my soul is heavy...<br>
    But they've always held me down<br>
    When my whole life was going south<br>
    <br>
    The three last years might have changed my life forever<br>
    Now I just wanna break free from these towering walls<br>
    To get this grey out of my mind<br>
    (Just once and for all)<br>
    'Cause when I'm here alone with the silence, I can't feel whole<br>
    No, I can't feel whole<br>
    <br>
    You know<br>
    The road has always been the same<br>
    But the world is changing<br>
    I am lost<br>
    Lost amongst the days I'm living<br>
    I'm dreaming of a brighter way<br>
    <br>
    I've placed my heart on an altar<br>
    Have set my soul ablaze<br>
    In hope to save me from myself<br>
    <br>
    Oh you know we may walk under different welkins<br>
    But when I'm drowning in your eyes<br>
    <br>
    I can feel that I am not alone anymore<br>
    With the stranger<br>
    <br>
    That I see into the mirror<br>
    Not alone with my fucking pain, again<br>
    <br>
    So don't let me...<br>
    Don't let me think my life is vain;<br>
    <br>
    I'm so far from seeing the life through their heart shaped glasses<br>
    I'm always always craving for better vibes<br>
    <br>
    'Cause the world is mad, the world is crazy<br>
    And it keeps bringing me down<br>
    Each day my life keeps going south<br>
    <br>
    The three last years might have changed my life forever<br>
    Now I just wanna break free from these towering walls<br>
    To get this grey out of my mind<br>
    (Just once for all)<br>
    'Cause when I'm here alone with the silence, I can't feel whole<br>
    <br>
    Show me the fire, ignite me<br>
    I'm feeling so cold<br>
    I wanna know why I'm aching<br>
    Look in my eyes, tell me what you see<br>
    I'm feeling so numb<br>
    I need a sign to keep on fighting<br>
    <br>
    I need a sign to keep on fighting<br>
    Don't let me live my life in vain<br>
    I need a sign to keep on fighting<br>
    Don't let me live my life in vain<br>
    Don't let me think my life is vain
  </div>
</body>
</html>
